httpx==0.15.4
gpxpy==1.4.2
# stravalib==0.10.2
#stravalib
git+https://github.com/stravalib/stravalib.git
appdirs>=1.4.0
svgwrite>=1.1.9
colour
s2sphere
arrow
geopy
polyline
sqlalchemy
timezonefinder
pyyaml
aiofiles
cloudscraper
git+https://github.com/matin/garth.git
pydantic>=1.10.13
